<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Alien bean with singleton scope -->
    <!-- Singleton scope means only one instance of this bean will be created in the Spring container -->
    <bean id="alien" class="com.sahil.model.Alien" scope="singleton">
        <!-- Constructor injection: injecting values into the constructor parameters -->

        <!-- Injecting the 'age' property with a value of 21 -->
        <constructor-arg index="0" value="19"/>

        <!-- Injecting the 'lap' property with a reference to the 'laptop1' bean -->
        <constructor-arg index="1" ref="laptop1"/>

        <!-- Uncomment the lines below for different constructor injection options -->
        <!--
        <constructor-arg index="2" value="3000"/>
        <constructor-arg name="age" value="19"/>
        <constructor-arg name="lap" value="laptop1"/>
        -->

        <!-- Setter injection: injecting the 'lap' property with a reference to the 'laptop1' bean -->
        <property name="lap" ref="laptop1"/>
        <!-- This is called setter injection because we're using the setter methods to inject dependencies -->
    </bean>

    <!-- Uncomment the below bean definition to use prototype scope -->
    <!-- Prototype scope means a new instance of the bean is created each time getBean() is called -->
    <!--
    <bean id="alien" class="com.sahil.model.Alien" scope="prototype"/>
    -->

    <!-- Define the Laptop bean -->
    <!-- The Laptop bean will be created only when it is referenced in the Alien bean -->
    <bean id="laptop1" class="com.sahil.model.Laptop"/>
</beans>
